body {
    background-color: white !important;
  }
  
  #titre {
    margin-left: 560px;
  }
  
  .centrer {
    margin-bottom: 25px;
    margin-left: 200px;
  }
  
  #Entrainement {
    margin-left: 560px;
    
  }
  #rr{
  
    border: 5px solid black;
  }

  .cc{

    margin-left: 560px;

  }
  
  
  