.centrer
{
    margin-left: 470px;

    margin-top: 100px;
}

body {
    margin: 0; /* Supprime les marges par défaut du corps */
    height: 100vh; /* Hauteur de la fenêtre du navigateur */
    background-image: url('r6.jpeg'); /* Chemin vers votre image */
    background-size: cover; /* Couvre tout l'écran */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Ne pas répéter l'image */
}

#deplacer{

    margin-left: 595px;

    margin-top: 50px;

}
